@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page - Northwind Traders";
}

<div class="text-center">
    <h1 class="display-4">Northwind Traders</h1>
    <img src="~/img/northwind.png" height="300" width="300" />
    <h4>Proudly distributing fine foods around the world since @DateTime.Now.AddYears(-1994).Year years.</h4>
</div>
